.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
src/*.o
src/myexecutable
stamp-h1
*~
myexecutable
test-driver
test-suite.log
tests/*.o
testsuite
*.log
*.trs
lib*.a
full-package-name-VERSION.tar.gz
full-package-name-VERSION/
-coverage.info
*-coverage.info
*-coverage/
*.gcda
*.gcno
